<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Todo List</h1>
    <ul>
      <% todos.forEach(todo => { %>
        <li class="<%= todo.completed ? 'done' : '' %>">
          <%= todo.title %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>